body {
    display: grid;
   min-height: 100vh;
   align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-color: bisque;
    border-radius: 8px;
    box-shadow: 0.2em 0.3em 0.4em gray;
  }

#buttons > *:active {
    box-shadow: 0em 0em 0em gray;
    transition-property: box-shadow scale;
    transform: scale(0.95, 0.95);
    box-shadow: 0em 0em 0em;
    transition-duration: 0.1s;
  }


#buttons {
    display: grid;
    column-gap: 1rem;
    place-content: center;
    /* width: 100vw; */
    grid-auto-flow: column;
/* defines the width of the items in the container */
grid-auto-columns: minmax(200px, auto);    

/* container height; */
grid-auto-rows: 5rem;
align-items: center;
justify-content: center;
}

#buttons > * {
    display: grid;
    place-content: center;
    background-color: bisque;
        border-color: bisque;
     border-radius: 5px; 
     font-size: 1.5rem;
    box-shadow: .2em .3em .4em gray;
    padding: .5rem;
       height: 3rem; 
}


#go-container {
    display: grid;
    grid-auto-rows: 6rem;
    /* max-width: 800px; */
    justify-self: center;
    color: steelblue;
    /* background-color: aqua; */
    font-size: 4rem;
    justify-content: start;
    align-items: start;
}
#go {
    display: grid;
    place-content: center;
    color: darkslateblue;
    font-size: .001px;
    height: 1px;
    text-transform: uppercase;
}

#status-container {
    display: grid;
    display: grid;
    justify-content: center;
    /* column width */
    grid-template-columns: 150px 100px 200px;
    /* row height */
    grid-template-rows: minmax(100px, auto);
    align-items: center;
    /* margin: 1rem; */
    column-gap: 4rem;
}

#jog-up{
    background-color: maroon;
border-radius: 5px;
    color: sandybrown;
}

#status-container p {
    display: grid;
    place-content: center;    
    justify-content: center;
}

#clock {
   height: 6rem;
   color: purple;
   font-size: 5rem;
  border-radius: 5px;
}

.indicator-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px 300px;
    align-items: center;
    /* background-color: red; */
}


.indicator {
    text-align: center;
    font-size: 3rem;
    /* padding: .5rem   ; */
    height: 6rem;
    /* background-color: green; */

}
.indicator:last-child {
    font-size: 3rem;
    height: 5rem;
    background-color: goldenrod;
    border-radius: 0 5px 5px 0;
    
}

#status-container p  {
    border: 2px solid brown;
}

#jog-up {
    font-size: 1.5rem;
    width: 10rem;
    height: 3rem;
}

#exercise-cont {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(9rem, auto);
    grid-auto-rows: 5rem;
    column-gap: 1rem;
    grid-template-rows: minmax(8rem, auto);
    justify-content: center;
    align-items: center;
}

.exercise {
    display: grid;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 5px;
    place-content: center;        
    background-color: maroon;
    color: sandybrown;
}