 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .right-container {
   padding-bottom: .5rem;
   text-align: center;
   height: 2rem;
   /* background-color: yellowgreen; */
 }

 body {
   /* background-color: yellowgreen; */
   display: flex;
   min-height: 100vh;
   /* border: 4px solid red; */
   min-width: 100%;
   /* border-bottom: 2px solid red; */

   overflow-x: auto;
 }


 #fer {
   padding-top: .5rem;
   display: grid;
   /* width: 100%;  */
   flex-grow: 1;
   /* background-color: aquamarine; */
   align-items: center;
   justify-content: center;

 }


 button {
   background-color: bisque;
   border-color: bisque;
   /* width: 10rem; */
   /* height: 2.5rem; */
   font-size: 1.5em;
   border-radius: 8px;
   box-shadow: 0.2em 0.3em 0.4em gray;
 }

 button:active {
   box-shadow: 0em 0em 0em gray;
   transition-property: box-shadow scale;
   transform: scale(0.95, 0.95);
   box-shadow: 0em 0em 0em;
   transition-duration: 0.1s;
 }

 #go-container {
   display: flex;
   width: 90vw;
   justify-content: flex-start;
   align-items: center;
   padding: .5rem 0;
   /* background-color: aqua; */
   height: 5rem;
   /* margin: .5rem 0; */
 }

 #go {
   display: flex;
   overflow: hidden;
   white-space: nowrap;
   flex-wrap: nowrap;
   place-content: center;
   color: darkslateblue;
   font-size: .001px;
   /* flex: 1 1 100%; */
   height: 1px;
   text-transform: uppercase;
 }

 #buttons {
   display: flex;
   row-gap: 10px;
   flex-wrap: wrap;
   /* font-weight: bold; */
   column-gap: 1rem;
   justify-content: center;
   /* background-color: yellow; */
   height: 3.5rem;

 }

 h1 {
   font-size: 300%;
 }

 #round-up {
   flex: 1 1 5%
 }


 #buttons>* {
   font-size: 1.5rem;
   flex: 1 1 5%;
   align-content: center;
   justify-content: center;
   height: 3rem;
 }

 #foward,
 #backer {
   display: flex;
   align-items: center;
 }

 #foward>*:nth-child(1) {
   margin-right: -2.4rem;
 }

 #backer>*:nth-child(1) {
   margin-right: -2.4rem;
 }






 #status-container {
   display: flex;
   justify-self: center;
   justify-content: center;
   /* padding: .5rem; */
   align-items: center;
   column-gap: 1rem;
   width: 95%;
   /* margin: .5rem 0; */
   height: 6rem;

 }



 .indicator-container {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   /* background-color: blue; */
   height: 5rem;
   /* flex: 0 1 65% */
   flex: 0 1 0%
 }

 #clock {
   display: grid;
   height: 1px;
   text-align: center;
   place-content: center;
   color: purple;
   grid-template-columns: 0rem;
   font-size: 0.01px;
   border-radius: 5px;
   /* background-color: yellow; */
   padding: 1rem;

 }



 .indicator:last-child {
   display: flex;
   align-items: center;
   justify-content: center;
   /* font-size: 3rem; */
   font-size: .01px;
   /* height: 5rem; */
   white-space: nowrap;
   height: 1px;
   flex: 0 0 0%;
   /* padding: 0 1rem; */
   background-color: goldenrod;
   border-radius: 0 5px 5px 0;
   border: none;

 }




 .exercise,
 #jog-up {
   height: 50%;
   display: flex;
   color: sandybrown;
   background-color: maroon;
   border-color: maroon;
   text-align: center;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   font-size: 2rem;
 }

 #jog-up {
   flex: 0 1 20%;
   min-height: 3rem;
   font-size: 1.5rem;
 }


 #exercise-cont {
   height: 4rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   column-gap: .5rem;
   row-gap: 1rem;
   /* background-color: yellow; */

 }

 #exercise-cont>* {
   flex: 0 1 18%;
   height: 75%;
 }

 button {
   background-color: bisque;
   border-color: bisque;
   /* width: 12rem; */
   height: 3rem;
   font-size: 1.5em;
   /* float: left; */
   /* margin-right: 1em; */
   border-radius: 8px;
   box-shadow: 0.2em 0.3em 0.4em gray;
 }

 button:active {
   box-shadow: 0em 0em 0em gray;
   transition-property: box-shadow scale;
   transform: scale(0.95, 0.95);
   box-shadow: 0em 0em 0em;
   transition-duration: 0.1s;
 }

 h1 {
   font-size: 300%;
   margin-left: 4.3em;
 }